.libs
*.so.0.0.0
*.so.0.*
*.so
*.pc
*.desktop
*.o
*.lo
*.a
*.la
intltool-*.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
TAGS
tags
Makefile
Makefile.in
*~
*.swp
*.html
*.sgml
*.xml
cscope.files
cscope.in.out
cscope.out
cscope.po.out
gmon.out
.deps

